* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

.row {
    width: 750px;
    margin: auto;
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
}

.grid_cell {
    width: 75px;
    height: 75px;
    border: 1px solid white;
}